@model IEnumerable<MeetingSummarize.Models.Meeting>
@{
    ViewData["Title"] = "Meetings";
}
<h2>Meetings</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("Create","Meeting")">Create New Meeting</a>
 </p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Title</td>
                <td>@m.StartTime.UtcDateTime</td>
                <td>@m.EndTime?.UtcDateTime</td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Join","Meeting", new { id = m.Id })">Join</a>
                </td>
            </tr>
        }
    </tbody>
 </table>


